body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-around; /* Distribute items evenly */
    background-color: white /* #f2f2f2 */; 
    padding: 10px 0;
}

.navbar a {
    text-decoration: none;
    color: #757575;
    padding: 10px 20px;
}

.navbar a:hover {
    background-color: rgb(218, 232, 251);
    border-radius: 5px;
    color: rgb(44, 103, 188);
}

.container {
    display: flex; /* Use flexbox for layout */
    align-items:flex-start; /* Center vertically */
}

.l {
    max-width: 30%; /* Adjust image width */
    margin-right: 40px; /* Space between image and text */
    margin-left: 40px;
    margin-top: 20px;
}

.l img {
    max-width: 100%;
}

.l figcaption {
    text-align: center;
}

.r {
    flex: 1; /* Allow paragraph to grow */
    margin-right: 40px;
}

.r p {
    
    font-size: large;
    text-align: justify;
}

.r img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.pjl {
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
}
.pjl a {
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: x-large;
    
}

.pjl li {
    font-size: x-large;
}

.ddd {
    margin-left: 300px;
    margin-right: 300px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.tb {
    border:1px solid black;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
}

.tb th {
    border:1px solid black;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
}

.tb td {
    border-left: none;
    border-right: none;
}

.ddd img {
    max-width: 100%;
    text-align: center;
}

.ddd figcaption {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.tb2{
    border:1px solid black;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
}

.tb2 th {
    border:1px solid black;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
}

.tb2 td {
    border:1px solid black;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
}



/* .tb2, th, td{
    border-left: none;
    border-right: none;
} */

/* .tb2 th tb {
    border:1px solid black;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
} */

