body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    /* background-color: rgb(255, 229, 229); */
    /* color:rgb(68, 68, 68) */
    /* background-image: url(bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover; */
    
}

h1{
    color: rgb(142, 122, 181);
}
h2{
    color: rgb(183, 132, 183);
}

h3, h4 {
    color: rgb(224, 174, 208);
}


.navbar {
    display: flex;
    justify-content: space-around; /* Distribute items evenly */
    background-color: transparent /* #f2f2f2 */; 
    padding: 10px 0;
}

.navbar a {
    text-decoration: none;
    color: #757575;
    padding: 10px 20px;
}

.navbar a:hover {
    background-color: rgb(218, 232, 251);
    border-radius: 5px;
    color: rgb(44, 103, 188);
}

.navbar a.active {
    background-color: rgb(218, 200, 245);
    border-radius: 5px;
    color: rgb(108, 37, 195);
}

.container {
    display: flex; /* Use flexbox for layout */
    align-items:flex-start; /* Center vertically */
}

.l {
    max-width: 30%; /* Adjust image width */
    margin-right: 60px; /* Space between image and text */
    margin-left: 120px;
    margin-top: 20px;
}

.l img {
    max-width: 100%;
    border-radius: 30px;
    /* box-shadow: 5px 5px 5px rgb(128, 128, 128); */
}

.l figcaption {
    text-align: center;
    /* font-size: large; */
}

.r {
    flex: 1; /* Allow paragraph to grow */
    margin-right: 120px;
}

.r p {
    font-size: large;
    text-align: justify;
}

.r img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.pjl {
    margin-left: 120px;
    margin-right: 120px;
    text-align: justify;
    line-height: 1.5;
    font-size: large;
}

.ddd {
    margin-left: 300px;
    margin-right: 300px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.tb {
    border:1px solid black;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
}

.tb th {
    border:1px solid black;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
}

.tb td {
    border-left: none;
    border-right: none;
}

.ddd img {
    max-width: 100%;
    text-align: center;
}

.ddd figcaption {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

.tb2{
    border:1px solid black;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
}

.tb2 th {
    border:1px solid black;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
}

.tb2 td {
    border:1px solid black;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
}



/* .tb2, th, td{
    border-left: none;
    border-right: none;
} */

/* .tb2 th tb {
    border:1px solid black;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
} */

